{% extends 'base.html' %}
{% block title %}
    Edit {{ thing.name }} - {{ block.super }}
{% endblock title %}

{% block content %}
<div class='col-sm-6'>

<div class='content-preview'>
    <h3 id='preview-title'></h3>
    <p id='preview-content'></p>
</div>
</div>
<div class='col-sm-6 items'>

    <h1>Edit "{{ thing.name }}"</h1>
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
       <button type="button" class="add_field_button">Add Field</button>

</div>
{% endblock content %}




